# Binaries and build artifacts
/bin/
*.exe
*.out
*.o
*.a
*.so

# Environment files
.env
.envrc

# Logs and debugging files
*.log
*.trace

# Go dependencies
/vendor/
/go.sum
/go.mod

# Editor and OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Compiled binary caches
*.test
*.swp

# Air (live reloading tool) temporary files
.air.toml
tmp/

# Docker
/docker-compose.yml
